@model IEnumerable<BlogAdmin.Models.Post>

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>
<a asp-action="Create" class="btn btn-primary">Add New Post</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Publication Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Category.Title</td>
                <td>@item.PublicationDate.ToString("d")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
